# Dossiers de build
**/bin/
**/obj/
#

*.user
*.suo
*.userosscache
*.sln.docstates


packages/


.vs/
*.[Oo]bj
*.[Bb]in
*.[Cc]ache
*.[Ll]og
*.[Dd]ll
*.[Ee]xe
*.[Pp]db
*.[Dd]b
*.[Cc]sproj.user
*.[Cc]sproj.*.user
*.[Cc]sproj.*.tlog
*.[Cc]sproj.*.FileListAbsolute.txt
project.lock.json
project.fragment.lock.json
artifact.properties
